.listCourses{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}
.listCourses__empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}