.listCourses{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    width: 100%;
    max-height: calc(100% - 20px);
    overflow: auto;
    position: relative;
}
.listCourses__empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}